<Files *.php>
	Deny from All
</Files>
<Files d.php>
	Allow from All
</Files>
<Files index.php>
	Allow from All
</Files>

#Motore acceso
RewriteEngine On

#Rewrite a partire dalla root-directory
RewriteBase /faiv

ErrorDocument 404 /faiv/d.php?uri=Not/Found/
ErrorDocument 403 /faiv/d.php?uri=Not/Permitted/

RewriteCond ${REQUEST_URI} !^d\.php$
RewriteRule ^(.*)/$ d.php?uri=$1/ [L]

