
body {
	margin: 0;
	font: 8pt/10pt "Georgia", serif;
	color: #000000;
}

div.section {
	border-style: outset;
	border-width: 2px;
	margin: 5px;
}

.doublecol {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

.triplecol {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

.mini-left, .mini-right {
	width: 35%;
	border-width: 2px;
	border-style: outset;
}

.half-left, .half-right {
	width: 48%;
	border-width: 2px;
	border-style: outset;
}

.mini-left, .half-left {
	float: left;
	margin: 2px 10px 2px -5px;
	border-right: 0;
}

.mini-right, .half-right {
	float: right;
	margin: 2px -5px 2px 10px;
	border-left: 0;
}

.half-left {
	float: left;
	margin-left: -5px;
	margin-right: 5px;
	border-right: 0;
}

.half-right {
	float: right;
	margin-right: -5px;
	border-left: 0;
}

div.section:first-child { margin-top: 0px; }

p, ul, ol {
	text-align: justify;
	text-indent: 1em;
	padding: 0px 2px 0px 2px;
	margin: 2px 2px 2px 2px;
}

h2 {
	border-style: outset;
	border-width: 2px;
	padding: 3px 2px 3px 15px;
	margin: 2px 2px 2px -5px;
}

h3 {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	text-align: justify;
	text-indent: 1em;
	padding: 5px 2px 0px 2px;
	margin: 2px 4px 2px 4px;
}

p.reverse { text-align: right; }

h2.reverse {	
	text-align: right;
	padding: 3px 15px 3px 2px;
	margin: 2px -5px 2px 2px;
}

h3.reverse {
	text-align: right;
	margin: 2px 4px 2px 4px;
}

ul {
	margin-left: 2em;
	text-indent: 0;
}

div.section ol {
	margin-left: 4em;
	list-style-type: upper-roman;
	text-indent: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.inside,
.outside {
	background-color: #555555;
	border-style: outset;
	border-width: 2px;
}

.inside { margin: 2px 2px 2px -5px; }
.outside { margin: 2px -5px 2px 2px; }

.spoiler {
	color: #000000;
	background-color: #000000;
}

.spoiler:hover { color: #ffffff; }

.cat-heart:after { content:url('img/heart.png'); }

p.foto {
	text-align: center;
	text-indent: 0;
	margin: 0;
	padding: 2px;
}

p.foto img {
	width: 100%;
	border: #000000 1px solid;
}

em { font-style:italic; }
em em { font-style:normal; }
strong { font-weight:bold; }
code { font-family: monospace }
