.magnet { color: #ff0088; }
.mitch { color: #00ff00; }
.dacav {background-color: #000000; color: #347235;}
.jazz {color: #f87431;}
.char { font-style: italic; font-weight: bold;}
.bolo {color: #123456;}
.war {color: #00ff88;}
.sgaggio {
	font-size: 130%;
	text-shadow: #ffffff 0 0 0.3em, #000000 1px 1px 1px;
}
