/*
div#main { background-color: black; }
div#head { background-color: purple; }
div#foot { background-color: red; }
div#side { background-color: blue; }
div#container { background-color: yellow; }
*/

