
div#container, div#rightside, div#leftside {
	padding: 0;
	overflow: auto;
}

div#rightside, div#leftside {
	margin-top: 5%;
}

h1, h2, h3, p { margin: 1px; }

p {
	text-align: justify;
	text-indent: 1em;
}

div.small { width:100%; }
